# Database Configuration
# Default: superseguro
DB_PASSWORD=

# Monitoring Configuration
# Default: admin
GRAFANA_PASSWORD=

# Legacy System Credentials
LEGACY_USER=
LEGACY_TOKEN=

# Update System Credentials
UPDATES_USER=
UPDATES_TOKEN=
